<mat-toolbar>
  <h1>App</h1>
  <span class="example-fill-remaining-space"></span>
  <button *ngIf="!(isLoggedIn())" mat-button routerLink="/sign-in">
    <h3>Sign In</h3>
  </button>
  <button *ngIf="!(isLoggedIn())" mat-button routerLink="/signup">
    <h3>Sign up</h3>
  </button>
  <button *ngIf="isLoggedIn() && isRole == 'student'" mat-button routerLink="/student">
    <h3>Student</h3>
  </button>
  <button *ngIf="isLoggedIn() && isRole == 'mentor'" mat-button routerLink="/mentor">
    <h3>Mentor</h3>
  </button>
  <button *ngIf="isLoggedIn()" mat-button (click)="loggedOut()">
    <h3>logout</h3>
  </button>
</mat-toolbar>
