.input-full-width
  min-width: 150px
  max-width: 500px
  width: 100%

.signup-form
  margin-top: 5rem

.profile-img 
    height: 10rem
    width: 10rem
    border: 1px solid #949494

.ten-margin
  margin: 10px