
<form class="signup-form">
    <mat-grid-list cols="1" rowHeight="5rem">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required>
          <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="5rem">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input type="password" matInput placeholder="Password" [(ngModel)]='user.password' name="password" #password="ngModel" required>
          <mat-error *ngIf="password.invalid">Required</mat-error>        
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="5rem">
      <mat-grid-tile>
        <button mat-button (click)="signIn()">Sign In</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  